ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(135deg, #0004fda0, #4c33f4);
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: Verdana;
}

li {
    display: inline;
}

li a {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(127, 127, 127, 0.726);
}

.logo img {
    width: 55px;
    height: 40px;
    position: absolute;
    margin-top: 3px;
    margin-left: 10px;
}
body {
    margin: 0;
    padding: 0;
    background-color: rgb(138, 142, 181);
    justify-content: center;
    align-items: center;
}
.main {
    background: linear-gradient(10deg, #4576ff, #0323f7);
    width: 50%;
    max-width: 200px;
    color: #fff;
    margin: 50px auto;
    border-radius: 20px;
    padding: 1px 50px 25px;
    text-align: center;
}
.main .title {
    font-family: Verdana;
    color: #fff;
}
.main button {
    background: rgb(108, 179, 249);
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 15px;
    letter-spacing: 5px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
  }
   
.btn {
    cursor: pointer;
    margin: 5px;
    padding: 10px 10px;
    height: 55px;
    background-color: rgb(108, 179, 249);
    border-radius: 20px;
    border:5px solid #fff;
}

.show{
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}
.dayweather {
    background: linear-gradient(10deg, #4576ff, #0323f7);
    max-width: 20%;
    color: #fff;
    margin: 1%;
    border-radius: 20px;
    padding: 0 1% 2.5%;
    text-align: center;
    flex: 25%;
}
.dayweather h2 {
    font-family: Verdana;
}
.dayweather h1 {
    font-family: Verdana;
    font-size: 40px;
}
.dayIconImg{
    max-width: 50%;
}
.dayDetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.dayCol {
    flex: 50%;
    max-width: 45%;
    margin: 0 2%;
}
.dayCol p {
    font-family: Verdana;
}
.about {
    text-align: center;
    font-family: Verdana;
}
.dayCol h2 {
    font-size: 20px;
}
.auth {
    font-size: 20px;
}
.srch {
    background: linear-gradient(10deg, #4576ff, #0323f7);
    width: 50%;
    max-width: 400px;
    color: #fff;
    margin: 50px auto;
    border-radius: 20px;
    padding: 1px 50px 25px;
    text-align: center;
}
.srch .title {
    font-family: Verdana;
}
.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 0px 25px;
    height: 70px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    cursor: pointer;
    justify-content: center;
}
.search button img {
    width: 50px;
}

@media (max-width: 1200px) {
    .dayweather {
        max-width: 30%;
        flex: 30%;
    }
}

@media (max-width: 992px) {
    .dayweather {
        max-width: 45%;
        flex: 45%;
    }
}

@media (max-width: 768px) {
    .dayweather {
        max-width: 100%;
        flex: 100%;
    }

    .main, .srch {
        width: 80%;
        max-width: none;
    }

    .search input {
        height: 50px;
        font-size: 16px;
    }

    .search button {
        width: 50px;
        height: 50px;
    }

    .search button img {
        width: 30px;
    }

    .logo img {
        display: none;
    }

}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: none;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }